


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 height: 3500px;
}
nav{
  
    height: 157px;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    padding-top: 110px;
  transition: 1.5s;
  background-color: rgba(232,155,147,0.4);
  z-index: 3;

}
nav:hover{
    background-color: rgba(232,155,147,0.4);
   
    
}
.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.continer5{
    
    width: 90%;
    margin: auto;

}
.list{
    display: flex;
    list-style-type: none;
}
.list a{
   text-decoration: none;
    color:#4c4c4b;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
}
.list a:hover{
    color:#Db8e88;
}

.list li{
    padding: 10px;
    
}
.icon-list{
display: flex;
list-style-type: none;

}
.icon-list li{
    padding:5px;
}
i{
    font-size: 20px;
    color:#4c4c4b;
    padding: 6px;
}
.icon-list i:hover{
    color:#db8e88;
    border-radius: 25px;
    border: 2px double #4c4c4b;;

    background-color:#4c4c4b;; ;

}
.lis1{
display: inline-block;
    
    width: 100%;
    height:100%;
   
    border-radius: 25px;
 
 

}
.logoimg{
    padding-top: 40px;
    padding-left: 620px;
    position: fixed;
}
.try{
    background-image: url('assets/img/slider_26f6c427-959d-42ba-986e-34a184c0eebe.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 750px;
    padding: 0;
    margin: 0;
}
.line1{
    height: 1px;
    width: 0px;
    background-color:#Db8e88;
    margin-top: -3px;
    position: absolute;
  /*  opacity: 0;*/
    transition: 3s;
}
.line2{
    height: 1px;
    width: 0px;
    background-color:#Db8e88;;
    margin-top: -3px;
    position: absolute;
  /*  opacity: 0;*/
    transition: 3s;
}
.line3{
    height: 1px;
    width: 0px;
    background-color:#Db8e88;;
    margin-top: -3px;
    position: absolute;
  /*  opacity: 0;*/
    transition: 3s;
}
 
.linebig{
    height: 1px;
    width: 0px;
    background-color:#Db8e88;;
    margin-top: -3px;
    position: absolute; 
transition:3s;  
}
.l1:hover .line1{
    opacity: 1;
    width: 45px;
    
    }
    .l1:hover a{
        text-decoration: none;
    }
    .l2:hover a{
        text-decoration: none;
    }
    .l3:hover a{
        text-decoration: none;
    }
    .l4:hover a{
        text-decoration: none;
    }

.l2:hover .linebig{
        opacity: 1;
        width: 118px;
        
        }
        .l3:hover .line2{
            opacity: 1;
            width: 45px;
            }
            .l4:hover .line3{
                opacity: 1;
                width: 43px;
                
                }
              .downdroup{ /* the thierd step is to do this css style*/
                    top:157px; /* to make the list move from down to top */
                    position: absolute; /* the important one*/
                    width: 200px;
              box-shadow: -5px 0px 1px #626262;
                    padding-top:25px;
                    padding-bottom: 15px;
                    padding-left: 15px;
                    background-color:#FFDDED;
                    transition: 1s;
                    opacity: 0;
                   
                 
               

                }
           
                .downdroup3{ /* the thierd step is to do this css style*/
                    top:157px; /* to make the list move from down to top */
                    position: absolute; /* the important one*/
                    width: 200px;
             
                    padding-top:25px;
                    padding-bottom: 15px;
                    padding-left: 15px;
                    right: 1000px;
                    background-color:#FFDDED;
                    transition: 1s;
                    opacity: 0;
                    height: 216PX;
                 
               

                }
               
               .l2:hover .downdroup{
                opacity: 1;
                top:157px;
            
                }
                .l2:hover .downdroup1{
                    opacity: 1;
                    top:157px;
                    }
                    .l2:hover .downdroup2{
                        opacity: 1;
                        top:157px;
                        }
                        .l2:hover .downdroup3{
                            opacity: 1;
                            top:157px;
                            }
         
            
            
       

              ul {
                list-style-type: none;
              }
              .downdroup label,.downdroup1 label,.downdroup2 label,.downdroup3 label{
                  font-size: 18px;
                  font-weight: 1000;
                  color:#4c4c4b;
                  font-family: 'Josefin Sans', sans-serif;
              }
              .downdroup a,.downdroup1 a,.downdroup2 a,.downdroup3 a{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 15px;
              }
              .para1{
                 display: inline-block;
                 width: 100%;
                  height:300px;
                  background-color: rgba(232,155,147,0.4);
                margin-bottom:200px;
                  margin-left: auto;
                  margin-right: auto;
                

              }
              .header1{
                text-align: center;
                padding-top: 60px;
                font-size: 20px;
                font-family: 'Josefin Sans', sans-serif;
                text-transform: uppercase;
                font-weight: 900;
                color: #4c4c4b;
              }
              .para1 p{
                text-align: center;
                padding-top: 30px;
                font-size: 18px;
                font-weight: 500;
                color: #4c4c4b;
              }
              .header2{
                text-align: center;
                margin-top: -650px;
                font-size: 20px;
                font-family: 'Josefin Sans', sans-serif;
                text-transform: uppercase;
                font-weight: 900;
                color: #4c4c4b;
               
              }

              .container1{
                width: 90%;
                margin-top: 10%;
                font-family: sans-serif;
                letter-spacing: 1px;
                margin: auto;
                padding-bottom: 159px;
            }
            .container1 h2{
                background-color:  #4c4c4b;
                color:#fff;
                width: 200px;
                font-size: 24px;
                padding: 5px;
                height: 40px;
            }
            .container1 h2::after{
                content: '';
                border-top:42px solid  #4c4c4b;
                border-right: 42px solid transparent;
                position: relative;
                left: 48px;
                top: 33px;
                font-family: 'Josefin Sans', sans-serif;
            }
            .row{
                margin-top: 30px;
            
            }
            img{
                width: 100%;
            }
            .product-bottom i{
                color:#FFF039;
               
                font-size: 17px;
              padding-bottom: 10px;
              padding-top: 10px;
                
            }
            .product-bottom h3{
                font-size: 20px;
                font-weight: bold;
                font-family: 'Cookie', cursive;
                font-family: 'Indie Flower', cursive;

            
            }
            .product-bottom h5{
                font-size: 15px;
                font-weight: bold;
                padding-bottom: 10px;
            
            }
            .b{
                display: block;
                opacity: 0;
                position: absolute;
                top:80px;
                margin-left: 0;
                width: 7px;
            
            }
            
            .swiper-slide:hover .b{
            opacity: 1;
            margin-left: 5%;
            transition: 0.5s;
            }
            .b i{
                cursor: pointer;
                background-color: #fff;
                color: #000;
                height: 35px;
                width: 35px;
                font-size: 20px;
                padding: 7px;
                margin: 5%;
                margin-bottom: 5%;
            
            }
        .btn-secondary{
                background-color: transparent !important;
                border: none !important;
                box-shadow: none !important;
                padding: auto;;
            
            }
            .product-top{
              box-shadow:10px -5px 5px rgb(232 155 147 / 40%); 
              
            }
            .product-top:hover{
                margin-top: -15px;
                transition: 0.5s;
            }
            .star{
              height: 50px;
              width: 100%;
              background-color:rgba(232,155,147,0.4);
             padding-left: 50px;
             padding-top: 10px;
        
            }
            .star i{
             color: #F3E42F;
            }

            /*the bootstrap*/
            @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

            body {
                font-family: 'Alegreya Sans', sans-serif;
            }
            
            /* Sticky footer position and size
            -------------------------------------------------- */
            html {
              position: relative;
              min-height: 100%;
            }
            body {
              /* Margin bottom by footer height */
              margin-bottom: 300px;
            }
            .footer {
              position: absolute;
              bottom: 0;
              width: 100%;
              /* Set the fixed height of the footer here */
              height: 300px;
            }
            
            /* Taller footer on small screens */
            @media (max-width: 567em) {
                body {
                  margin-bottom: 700px;
                }
                .footer {
                  height: 300px;
                }
            }
            
            /* Sticky footer style and color
            -------------------------------------------------- */
            footer {
              padding-top: 30px;
              background-color: #4c4c4b;
              color: #bbb;
            }
            
            footer a {
              color: #999;
              text-decoration:none;
            }
            
            footer a:hover, footer a:focus {
              color: #aaa;
              text-decoration:none;
              border-bottom:1px dotted #999;
            }
            
            footer .form-control {
                background-color: #1f2022;
                box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
                border: none;
                resize: none;
                color: #d1d2d2;
                padding: 0.7em 1em;
            }
            
            
            /* Credits: https://www.codeply.com/p/EJd6H4Ejyi */


/*the slider prodect*/




            /*the end bootstrap for footer*/
            .header-prudect{
              text-align: center;
              margin-top:-100px;
            text-transform:capitalize;
            color: #4c4c4b;
               
         
                font-family: 'Josefin Sans', sans-serif;
                
                text-shadow: 10px -5px 5px rgb(232 155 147 / 100%); 
            }



            .header-prudect2{
              text-align: center;
              margin-top:100px;
            text-transform:capitalize;
            color: #4c4c4b;
               
         
                font-family: 'Josefin Sans', sans-serif;
                
                text-shadow: 10px -5px 5px rgb(232 155 147 / 100%); 
            }

            .header5{
              text-align: center;
            
            text-transform:capitalize;
            color: #4c4c4b;
               
         
                font-family: 'Josefin Sans', sans-serif;
                
                text-shadow: 10px -5px 5px #e89b93; 

            }
            /*the card*/
            
            .wrappercard .outer{
                width: 100%;
              display:flex;
              text-align:center;
           margin-left:350px;
       box-sizing: border-box;
           margin-top: 230px;
             

          }
          .wrappercard .card{
              background:white;
              width:800px;
              display:flex;
              align-items: center;
              padding:32px;
              opacity:0;
              position:absolute;
              justify-content: space-between;
              border-radius: 10px;
              box-shadow:10px -5px 5px rgb(232 155 147 / 40%); 
              animation:animate 15s linear infinite;
              animation-delay:calc(3s * var(--delay));
              border: 1px solid #Db8e88;
          }
          .outer:hover .card{
              animation-play-state: paused;
          }
          .wrappercard .card:last-child{
              animation-delay:calc(-3s * var(--delay));
          }
          @keyframes animate{
              0%{
                  opacity:0;
                  transform:translateY(100%) scale(0.5);
              }
              5%, 20%{
                  opacity:0.4;
                  transform:translateY(100%) scale(0.7);
              }
              25%, 40%{
                  opacity:1;
                  pointer-events:auto;
                  transform:translateY(0%) scale(1);
              }
              45%, 60%{
                  opacity:0.4;
                  transform:translateY(-100%) scale(0.7);
              }
              65%, 100%{
                  opacity:0;
                  transform:translateY(-100%) scale(0.5);
              }
          }
          .card .content{
              display:flex;
              align-items: center;

              
          }
          .wrappercard .card .imgcard{
              height:90px;
              width:90px;
              position:absolute;
              left:-5px;
              background: linear-gradient(to bottom, #Db8e88 0%, #4c4c4b 100%);
              border-radius: 50%;
              padding:5px;
              
              box-shadow:0px 0px 5px rgba(0,0,0,0.2);
              margin-left:10px;
          }
          .card .imgcard img{
              height:100%;
              width:100%;
              border-radius:50%;
              object-fit: cover;
          }
          .card .details{
              margin-left:80px;
              color:#Db8e88;
              font-family: 'Cookie', cursive;
              font-size: 20px;
              width: 500px;
            margin-bottom: 20px;
              
          }
              f
          .details span{
              font-weight:600;
              font-size:18px;
          }
          .card a{
              text-decoration: none;
              padding:7px 18px;
              border-radius:5px;
              color:#fff;
              background: linear-gradient(to bottom, #Db8e88 0%, #4c4c4b 100%);
              transition:all 0.3s ease;
              box-shadow:0px 0px 5px rgba(0,0,0,0.2);
          }
          .icons{
              display:inline-grid;
              color:#fff;
          }
          .icons i{
              padding:12px;
              margin:2px;
              margin-left:30px;
              background: linear-gradient(to bottom, #Db8e88 0%, #4c4c4b 100%);
              border-radius:50%;
              transition:all 0.3s ease;
              cursor:pointer;
              box-shadow:0px 0px 5px rgba(0,0,0,0.2);
          }
          .card a:hover{
              transform:scale(0.94);
          }
          .icons i:hover{
              transform:scale(0.94);  
          }


            /*the end card*/
            /*the first of pop signin*/

            .m {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index:88888; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
              }
              
              /* Modal Content */
              .popcon{
                background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("assets/img/blog-12.jpg");
                margin: auto;
                margin-top: 100px;
                box-shadow:0px 0px 5px rgba(0,0,0,0.5);
                padding: 20px;
                border: 1px solid #888;
                width: 40%;
                height: 400px;
                
              
                
              }
        
              
              
              /* The Close Button */
           
              .close i {
                color:#000;
                float: right;
                font-size: 30px;
                font-weight: bold;

              }
              
              .close:hover,
              .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
              }
              .emailsignin{
                  border-radius: 0%;
                  width: 500px;
                  height: 45px;
                  box-shadow:0px 0px 5px rgba(0,0,0,0.2);
                  border: 0;
              }
              .emailc{
                border-radius: 0%;
                width: 500px;
                height: 45px;
                box-shadow:0px 0px 5px rgba(0,0,0,0.2);
                border: 0;

              }
              .submits{
                  border-radius: 0%;
                  background-color: #000;
                  border: 0;
                  color: white;
                  width: 150px;
                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 15px;
                  font-weight: 800;
              }
              .submitsc{
                border-radius: 0%;
                background-color: #000;
                border: 0;
                color: white;
                width: 150px;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 15px;
                font-weight: 800;
               margin-right:350px;
            }
              .createaccount {
                text-decoration: none;
                  text-transform: capitalize;
                  color: red;
                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 15px;

              }
              .createaccount a :hover  {
                color: #a9645d;
                text-decoration: none;
                
              }

              .spanc{
                  margin-left: 100px;
              }
              
              .mc {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index:88888; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
              }
              
              /* Modal Content */
              .popconc{
                background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("assets/img/blog-12.jpg");
              
                margin: auto;
                margin-top: 20px;
              box-shadow: 8px -7px 15px 2px rgb(0 0 0 / 50%);
                padding: 10px;
                border: 1px solid #888;
                width: 800px;
                height: 500px;
              
                
              }
              .popconc img{
                  width: 300px;
                  margin-top: 30px;
              }
        
              
              
              /* The Close Button */
           
              .closec i {
                color:#000;
                float: right;
                font-size: 30px;
                font-weight: bold;

              }
              
              .closec:hover,
              .closec:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
              }
              .formcreate{
                  text-align: center;
              }
              /*the footer css*/
              footer {
                position: fixed;
                bottom: 0;
            }
            
            @media (max-height:800px) {
                footer {
                    position: static;
                }
                header {
                    padding-top: 40px;
                }
            }
            
            .footer-distributed {
                background-color:#33383b;
                box-sizing: border-box;
                width: 100%;
                text-align: left;
                font: bold 16px sans-serif;
                padding: 50px 50px 60px 50px;
                margin-top: 80px;
               
               
            }
            
            .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
                display: inline-block;
                vertical-align: top;
            }
            
            /* Footer left */
            
            .footer-distributed .footer-left {
                width: 30%;
            }
            
            .footer-distributed h3 {
                color: #ffffff;
                font: normal 36px 'Cookie', cursive;
                margin: 0;
            }
            
            
            .footer-distributed h3 span {
                color:#db8e88;
            }
            
            /* Footer links */
            
            .footer-distributed .footer-links {
                color: #ffffff;
                margin: 20px 0 12px;
            }
            
            .footer-distributed .footer-links a {
                display: inline-block;
                line-height: 1.8;
                text-decoration: none;
                color: inherit;
            }
            
            .footer-distributed .footer-company-name {
                color: #8f9296;
                font-size: 14px;
                font-weight: normal;
                margin: 0;
            }
            
            /* Footer Center */
            
            .footer-distributed .footer-center {
                width: 35%;
            }
            
            .footer-distributed .footer-center i {
                background-color: #33383b;
                color: #ffffff;
                font-size: 25px;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                text-align: center;
                line-height: 42px;
                margin: 10px 15px;
                vertical-align: middle;
            }
            
            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }
            
            .footer-distributed .footer-center p {
                display: inline-block;
                color: #ffffff;
                vertical-align: middle;
                margin: 0;
            }
            
            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }
            
            .footer-distributed .footer-center p a {
                color: #db8e88;;
                text-decoration: none;
                ;
            }
            
            /* Footer Right */
            
            .footer-distributed .footer-right {
                width: 30%;
            }
            
            .footer-distributed .footer-company-about {
                line-height: 20px;
                color: #92999f;
                font-size: 13px;
                font-weight: normal;
                margin: 0;
            }
            
            .footer-distributed .footer-company-about span {
                display: block;
                color: #ffffff;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            
            .footer-distributed .footer-icons {
                margin-top: 25px;
            }
            
            .footer-distributed .footer-icons a {
                display: inline-block;
                width: 35px;
                height: 35px;
                cursor: pointer;
                background-color: #33383b;
                border-radius: 2px;
                font-size: 20px;
                color: #ffffff;
                text-align: center;
                line-height: 35px;
                margin-right: 3px;
                margin-bottom: 5px;
            }
            
            .footer-distributed .footer-icons a:hover {
                background-color: #3F71EA;
            }
            
            .footer-links a:hover {
                color: #3F71EA;
            }
            
            @media (max-width: 880px) {
                .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
                    display: block;
                    width: 100%;
                    margin-bottom: 40px;
                    text-align: center;
                }
                .footer-distributed .footer-center i {
                    margin-left: 0;
                }
            }       
           .r{
        background-image:url('assets/img/slider_26f6c427-959d-42ba-986e-34a184c0eebe.jpg');
           }


              /*the end of the footer*/